doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title!= title
        link(href='../node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='../assets/css/landing-page.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
            script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
            script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
        // Navigation
        nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
            .container.topnav

                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.topnav(href='/')!= title

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            - if(lang === 'ru') {
                                a(href='/en') En
                            - } else {
                                a(href='/ru') Ru
                            - }
                        - var anchors = ['about', 'services', 'contact'];
                        each item, index in header.menu
                            li
                                a(href='#'+anchors[index])!= item
        // Header
        a(name='about')
        .intro-header
            .container
                .row
                    .col-lg-12
                        .intro-message
                            h1= header.title
                            h3= header.subtitle
                            hr.intro-divider
                            ul.list-inline.intro-social-buttons
                                each item in socials
                                    li
                                        a.btn.btn-default.btn-lg(href= item.url)
                                            i.fa.fa-fw(class= item.icon)
                                            span.network-name= item.name

        // Page Content
        a(name='services')
        .content-section-a
            .container
                .row
                    .col-lg-5.col-sm-6
                        hr.section-heading-spacer
                        .clearfix
                        h2.section-heading!= items.about.title
                        p.lead!= items.about.subtitle
                    .col-lg-5.col-lg-offset-2.col-sm-6
                        img.img-responsive(src!= items.about.img, alt='')

        .content-section-b
            .container
                .row
                    .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
                        hr.section-heading-spacer
                        .clearfix
                        h2.section-heading!= items.services.title
                        p.lead!= items.services.subtitle
                    .col-lg-5.col-sm-pull-6.col-sm-6
                        img.img-responsive(src!= items.services.img, alt='')

        .content-section-a
            .container
                .row
                    .col-lg-5.col-sm-6
                        hr.section-heading-spacer
                        .clearfix
                        h2.section-heading!= items.contact.title
                        p.lead!= items.contact.subtitle
                    .col-lg-5.col-lg-offset-2.col-sm-6
                        img.img-responsive(src!= items.contact.img, alt='')

        a(name='contact')
        .banner
            .container
                .row
                    .col-lg-6
                        h2!= footer.message
                    .col-lg-6
                        ul.list-inline.banner-social-buttons
                            each item in socials
                                li
                                    a.btn.btn-default.btn-lg(href= item.url)
                                        i.fa.fa-fw(class= item.icon)
                                        span.network-name= item.name

        footer
            .container
                .row
                    .col-lg-12
                        ul.list-inline
                            each item, index in footer.menu
                                li
                                    a(href='#'+anchors[index])!= item
                                - if (index < footer.menu.length - 1) {
                                    li.footer-menu-divider ⋅
                                - }

                        p.copyright.text-muted.small!= footer.copyright
        script(src='../../node_modules/jquery/dist/jquery.min.js')
        script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
